# Игнорировать все файлы в подкаталоге tmp
tmp/

# Игнорировать файлы с суффиксом _old
*_old

# Игнорировать файлы с суффиксом _backup
*_backup

# Игнорировать файлы Thumbs.db, создаваемые Windows
Thumbs.db

# Игнорировать файлы .DS_Store, создаваемые macOS
.DS_Store
